$primary-color: black;
$primary-button-color: #fff;
$primary-button-bg: #111;
$primary-font: "Montserrat", sans-serif;
$hero-font: "Revalia", cursive;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: $primary-font;
  color: $primary-color;
}

section {
  margin: 2rem 0;
}

button {
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  border-radius: 15px;
  color: $primary-button-color;
  background: $primary-button-bg;
  transition: ease-in-out 0.3s;
  transition-property: filter, transform, color, background;

  &:hover {
    filter: brightness(1.3);
    cursor: pointer;
    background: lighten($color: $primary-button-bg, $amount: 15);
  }
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

// header
header {
  margin: 0.1rem 0;

  .logo-container {
    display: grid;
    place-items: center;

    .logo {
      width: 80px;
      height: 80px;
      background: url(./assets/logo.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

// main
main {
  //#hero
  #hero {
    margin-top: 0;
    height: 70vh;
    width: 100vw;
    font-family: $hero-font;

    .hero-container {
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      background: url(./assets/hero.jpg);
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;

      .txt-container {
        width: 100vw;
        margin: 3rem 3rem;

        h1 {
          font-size: 3rem;
        }

        p {
          margin-top: 0.4rem;
          font-size: 2rem;
          color: #fff;
        }
      }
    }
  }

  // #bikes
  #bikes {
    text-align: center;
    margin: 5rem 0;

    .txt-container {
      .headings {
        h1 {
          font-size: 3rem;
        }

        p {
          margin: 0.1rem;
          font-size: 2rem;
        }
      }

      .info {
        margin: 1.5rem 0;
        p {
          margin: 0 auto;
          max-width: 80ch;
          font-size: 1.2rem;
        }
      }

      .btn-container {
        button {
          padding: 0.5rem 2rem;
          border-radius: 15px;
        }
      }
    }

    .slider-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      width: 100vw;
      margin: 10rem 0;

      .bikes-container {
        position: relative;
        padding: 4rem 0;

        .bike-container {
          width: 100%;
          max-width: 30rem;
          transition: 2s cubic-bezier(0, 1.03, 0.52, 1);
          transition-property: filter, transform;

          .img-container {
            img {
              transition: 1s cubic-bezier(0, 1.03, 0.52, 1);
              transition-property: filter, transform;
              object-position: center;
              object-fit: cover;
              height: auto;
              width: 25rem;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              cursor: pointer;
              z-index: -1;
            }
          }

          h2 {
            position: absolute;
            top: 50%;
            bottom: 50%;
            margin-top: 18rem;
            width: max-content;
            transform: translate(-50%, -50%);
          }
        }

        //utility classes
        .front {
          transform: scale(1.5);
          z-index: 10;
        }

        .unactive {
          pointer-events: none;
          animation: fadeOut 0.2s ease forwards;
        }

        .passive {
          pointer-events: all;
        }

        $unit: 22rem;
        .l1 {
          transform: translateX(-#{$unit});
          filter: blur(2px);
          z-index: 5;
        }

        .r1 {
          transform: translateX(#{$unit});
          z-index: 5;
          filter: blur(2px);
        }

        @keyframes fadeOut {
          from {
            opacity: 1;
          }

          to {
            opacity: 0;
          }
        }
      }
    }
  }

  #organic {
    min-height: 70vh;
    text-align: center;
    padding: 2rem 0;
    background: linear-gradient(
        180deg,
        rgba(214, 214, 214, 0.44) 0%,
        rgba(255, 255, 255, 0) 75.78%
      ),
      #ffffff;

    .txt-container {
      .heading-container {
        h1 {
          font-size: 3rem;
        }

        p {
          margin-top: 0.3rem;
          font-size: 2rem;
          font-weight: 500;
        }
      }

      .des-container {
        p {
          max-width: 70ch;
          margin: 1rem auto;
          font-size: 1.3rem;
        }
      }

      .eco-container {
        $line-length: 15rem;

        margin: 0 auto;
        display: grid;
        max-width: 30vw;
        width: 100%;
        grid-template-columns: 1fr 10px 1fr;
        grid-template-rows: $line-length;
        align-items: center;

        .eco {
          justify-self: center;
          align-self: center;
          display: grid;
          place-items: center;

          .img1 {
            background: url(./assets/ev.png);
          }

          .img2 {
            background: url(./assets/rupee.png);
          }

          .img {
            $units: 6rem;
            width: $units;
            height: $units;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }

          p {
            max-width: 20ch;
            font-size: 1.2rem;
          }
        }

        .horizontal-line {
          width: 1px;
          height: $line-length;
          background: #000;
        }
      }
    }

    .img-container {
      margin-top: 2rem;

      .grass-img {
        width: 100vw;
        height: 10rem;
        background: url(./assets/grass1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  #features {
    text-align: center;
    min-height: 100vh;
    width: 100vw;
    $line-length: 2rem;

    .feature {
      display: grid;
      margin: 4rem auto;
      grid-template-areas:
        "img txt"
        "img txt";
      max-width: 60rem;
      gap: 2rem;
      font-size: 1.3rem;

      .img-container {
        grid-area: img;
        max-width: 25rem;
        margin: 0 auto;
        align-self: center;

        img {
          object-fit: cover;
          object-position: center;
          width: 100%;
          border-radius: 15px;
        }
      }

      .txt-container {
        grid-area: txt;
        border-left: 1px #000 solid;
        align-self: center;
        position: relative;
        padding-left: 1rem;

        .heading {
          h1 {
            font-size: 2.5rem;
            margin-bottom: 3rem;
          }
        }

        .horizontal-line {
          width: $line-length;
          right: 100%;
          height: 1px;
          background: #000;
          position: absolute;
          top: 50%;
        }

        @media (max-width: 650px) {
          .horizontal-line {
            display: none;
          }
        }

        .points > div {
          margin-top: 1.7rem;
          font-size: 1.5rem;
        }
      }
    }

    //feature 2
    .feature2 {
      grid-template-areas:
        "txt img"
        "txt img";

      .txt-container {
        border-left: none;
        border-right: 1px #000 solid;
        padding-right: 1rem;
        padding-left: 01rem;

        .horizontal-line {
          width: $line-length;
          left: 100%;
          height: 1px;
          background: #000;
          position: absolute;
          top: 50%;
        }
      }
    }

    //media query
    @media (max-width: 680px) {
      .feature {
        grid-template-areas:
          "img img"
          "txt txt";

        .img-container {
          grid-area: img;
        }

        .txt-container {
          grid-area: txt;
        }
      }
    }
  }

  #challan {
    width: 100vw;
    text-align: center;

    .headings {
      h1 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 2.3rem;
        font-weight: 400;
      }
    }
    .img-container {
      display: flex;
      flex-wrap: wrap;
      width: 100vw;
      justify-content: center;
      gap: 3rem;

      .icons-container {
        margin: 3rem 0;

        .ico {
          $unit: 14rem;
          width: $unit;
          height: $unit;
          position: relative;
          margin: 0 1rem;

          & > img {
            position: absolute;
            width: 70%;
            object-position: center;
            object-fit: contain;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }

          .skip {
            width: 100%;
          }

          .license-img {
            width: 50%;
          }
        }

        .icon-des {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
    }
  }

  #contact-form {
    text-align: center;
    margin: 5rem 1rem;

    form {
      .form-container {
        display: flex;
        justify-content: space-between;
        max-width: 700px;
        margin: 2rem auto;

        .left-form,
        .right-form {
          .fields {
            margin: 1rem 0;
            text-align: left;

            & > * {
              display: block;
              margin-bottom: 1rem;
            }

            label {
              margin-bottom: 1.5rem;
              font-size: 1.5rem;
              font-weight: 500;
            }

            input {
              font-size: 1rem;
              outline: none;
              border: none;
              border-bottom: 1px solid black;
              width: 100%;
              min-width: 20rem;
            }
          }
        }
      }

      button {
        margin-top: 1rem;
        max-width: 35rem;
        height: 3rem;
        width: 100%;
        background: #555;
        font-size: 1.5rem;

        &:hover {
          background: #111;
        }
      }
    }
  }

  // end of the main
}

// footer
footer {
  background: linear-gradient(
      180deg,
      #e5e5e5 61.19%,
      rgba(255, 255, 255, 0) 100%
    ),
    #d6d6d6;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.3rem;

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    max-width: 50ch;
    font-weight: 300;
  }

  .company-summary {
    h2 {
      margin-bottom: 1rem;
    }
  }

  .subs {
    text-align: center;
    font-size: 1rem;

    form {
      label {
        max-width: 30ch;
        font-size: 1.3rem;
        text-align: center;
      }

      .sub {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.2rem;

        input {
          font-size: 1rem;
          margin: 1rem 0;
          outline: none;
          border: none;
          background: white;
          height: 2rem;
        }

        .sub-btn {
          background-color: transparent;
          padding: 0;
          background: url(./assets/arrow.png);
          $unit: 3rem;
          width: $unit;
          height: $unit;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          &:hover {
            transform: scale(0.9);
          }
        }
      }
    }
  }

  .company-info {
    text-align: right;

    .info {
      h2 {
        margin-bottom: 0.51rem;
      }

      p {
        max-width: 40ch;
      }
    }

    .info + .info {
      margin: 2rem 0;
    }
  }
}

//media query
@media (max-width: 800px) {
  html {
    font-size: 80%;
  }

  #challan .img-container .icons-container {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 60%;
  }

  main #contact-form form .form-container {
    flex-wrap: wrap;
    justify-content: center;

    & > div {
      margin: 0 2rem;
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

// utility classes
