* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Montserrat", sans-serif;
  color: black;
}

section {
  margin: 2rem 0;
}

button {
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  border-radius: 15px;
  color: #fff;
  background: #111;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-transition-property: color, background, -webkit-filter, -webkit-transform;
  transition-property: color, background, -webkit-filter, -webkit-transform;
  transition-property: filter, transform, color, background;
  transition-property: filter, transform, color, background, -webkit-filter, -webkit-transform;
}

button:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  cursor: pointer;
  background: #373737;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

header {
  margin: 0.1rem 0;
}

header .logo-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

header .logo-container .logo {
  width: 80px;
  height: 80px;
  background: url(./assets/logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main #hero {
  margin-top: 0;
  height: 70vh;
  width: 100vw;
  font-family: "Revalia", cursive;
}

main #hero .hero-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: url(./assets/hero.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

main #hero .hero-container .txt-container {
  width: 100vw;
  margin: 3rem 3rem;
}

main #hero .hero-container .txt-container h1 {
  font-size: 3rem;
}

main #hero .hero-container .txt-container p {
  margin-top: 0.4rem;
  font-size: 2rem;
  color: #fff;
}

main #bikes {
  text-align: center;
  margin: 5rem 0;
}

main #bikes .txt-container .headings h1 {
  font-size: 3rem;
}

main #bikes .txt-container .headings p {
  margin: 0.1rem;
  font-size: 2rem;
}

main #bikes .txt-container .info {
  margin: 1.5rem 0;
}

main #bikes .txt-container .info p {
  margin: 0 auto;
  max-width: 80ch;
  font-size: 1.2rem;
}

main #bikes .txt-container .btn-container button {
  padding: 0.5rem 2rem;
  border-radius: 15px;
}

main #bikes .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  width: 100vw;
  margin: 10rem 0;
}

main #bikes .slider-container .bikes-container {
  position: relative;
  padding: 4rem 0;
}

main #bikes .slider-container .bikes-container .bike-container {
  width: 100%;
  max-width: 30rem;
  -webkit-transition: 2s cubic-bezier(0, 1.03, 0.52, 1);
  transition: 2s cubic-bezier(0, 1.03, 0.52, 1);
  -webkit-transition-property: -webkit-filter, -webkit-transform;
  transition-property: -webkit-filter, -webkit-transform;
  transition-property: filter, transform;
  transition-property: filter, transform, -webkit-filter, -webkit-transform;
}

main #bikes .slider-container .bikes-container .bike-container .img-container img {
  -webkit-transition: 1s cubic-bezier(0, 1.03, 0.52, 1);
  transition: 1s cubic-bezier(0, 1.03, 0.52, 1);
  -webkit-transition-property: -webkit-filter, -webkit-transform;
  transition-property: -webkit-filter, -webkit-transform;
  transition-property: filter, transform;
  transition-property: filter, transform, -webkit-filter, -webkit-transform;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: -1;
}

main #bikes .slider-container .bikes-container .bike-container h2 {
  position: absolute;
  top: 50%;
  bottom: 50%;
  margin-top: 18rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main #bikes .slider-container .bikes-container .front {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 10;
}

main #bikes .slider-container .bikes-container .unactive {
  pointer-events: none;
  -webkit-animation: fadeOut 0.2s ease forwards;
          animation: fadeOut 0.2s ease forwards;
}

main #bikes .slider-container .bikes-container .passive {
  pointer-events: all;
}

main #bikes .slider-container .bikes-container .l1 {
  -webkit-transform: translateX(-22rem);
          transform: translateX(-22rem);
  -webkit-filter: blur(2px);
          filter: blur(2px);
  z-index: 5;
}

main #bikes .slider-container .bikes-container .r1 {
  -webkit-transform: translateX(22rem);
          transform: translateX(22rem);
  z-index: 5;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

main #organic {
  min-height: 70vh;
  text-align: center;
  padding: 2rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(214, 214, 214, 0.44)), color-stop(75.78%, rgba(255, 255, 255, 0))), #ffffff;
  background: linear-gradient(180deg, rgba(214, 214, 214, 0.44) 0%, rgba(255, 255, 255, 0) 75.78%), #ffffff;
}

main #organic .txt-container .heading-container h1 {
  font-size: 3rem;
}

main #organic .txt-container .heading-container p {
  margin-top: 0.3rem;
  font-size: 2rem;
  font-weight: 500;
}

main #organic .txt-container .des-container p {
  max-width: 70ch;
  margin: 1rem auto;
  font-size: 1.3rem;
}

main #organic .txt-container .eco-container {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  max-width: 30vw;
  width: 100%;
  -ms-grid-columns: 1fr 10px 1fr;
      grid-template-columns: 1fr 10px 1fr;
  -ms-grid-rows: 15rem;
      grid-template-rows: 15rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #organic .txt-container .eco-container .eco {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main #organic .txt-container .eco-container .eco .img1 {
  background: url(./assets/ev.png);
}

main #organic .txt-container .eco-container .eco .img2 {
  background: url(./assets/rupee.png);
}

main #organic .txt-container .eco-container .eco .img {
  width: 6rem;
  height: 6rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

main #organic .txt-container .eco-container .eco p {
  max-width: 20ch;
  font-size: 1.2rem;
}

main #organic .txt-container .eco-container .horizontal-line {
  width: 1px;
  height: 15rem;
  background: #000;
}

main #organic .img-container {
  margin-top: 2rem;
}

main #organic .img-container .grass-img {
  width: 100vw;
  height: 10rem;
  background: url(./assets/grass1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #features {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
}

main #features .feature {
  display: -ms-grid;
  display: grid;
  margin: 4rem auto;
      grid-template-areas: "img txt" "img txt";
  max-width: 60rem;
  gap: 2rem;
  font-size: 1.3rem;
}

main #features .feature .img-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img;
  max-width: 25rem;
  margin: 0 auto;
  -ms-flex-item-align: center;
      align-self: center;
}

main #features .feature .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  border-radius: 15px;
}

main #features .feature .txt-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: txt;
  border-left: 1px #000 solid;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  padding-left: 1rem;
}

main #features .feature .txt-container .heading h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

main #features .feature .txt-container .horizontal-line {
  width: 2rem;
  right: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
}

@media (max-width: 650px) {
  main #features .feature .txt-container .horizontal-line {
    display: none;
  }
}

main #features .feature .txt-container .points > div {
  margin-top: 1.7rem;
  font-size: 1.5rem;
}

main #features .feature2 {
      grid-template-areas: "txt img" "txt img";
}

main #features .feature2 .txt-container {
  border-left: none;
  border-right: 1px #000 solid;
  padding-right: 1rem;
  padding-left: 01rem;
}

main #features .feature2 .txt-container .horizontal-line {
  width: 2rem;
  left: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
}

@media (max-width: 680px) {
  main #features .feature {
        grid-template-areas: "img img" "txt txt";
  }
  main #features .feature .img-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: img;
  }
  main #features .feature .txt-container {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: txt;
  }
}

main #challan {
  width: 100vw;
  text-align: center;
}

main #challan .headings h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

main #challan .headings p {
  font-size: 2.3rem;
  font-weight: 400;
}

main #challan .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

main #challan .img-container .icons-container {
  margin: 3rem 0;
}

main #challan .img-container .icons-container .ico {
  width: 14rem;
  height: 14rem;
  position: relative;
  margin: 0 1rem;
}

main #challan .img-container .icons-container .ico > img {
  position: absolute;
  width: 70%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main #challan .img-container .icons-container .ico .skip {
  width: 100%;
}

main #challan .img-container .icons-container .ico .license-img {
  width: 50%;
}

main #challan .img-container .icons-container .icon-des {
  font-size: 1.5rem;
  font-weight: 600;
}

main #contact-form {
  text-align: center;
  margin: 5rem 1rem;
}

main #contact-form form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 700px;
  margin: 2rem auto;
}

main #contact-form form .form-container .left-form .fields,
main #contact-form form .form-container .right-form .fields {
  margin: 1rem 0;
  text-align: left;
}

main #contact-form form .form-container .left-form .fields > *,
main #contact-form form .form-container .right-form .fields > * {
  display: block;
  margin-bottom: 1rem;
}

main #contact-form form .form-container .left-form .fields label,
main #contact-form form .form-container .right-form .fields label {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

main #contact-form form .form-container .left-form .fields input,
main #contact-form form .form-container .right-form .fields input {
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  min-width: 20rem;
}

main #contact-form form button {
  margin-top: 1rem;
  max-width: 35rem;
  height: 3rem;
  width: 100%;
  background: #555;
  font-size: 1.5rem;
}

main #contact-form form button:hover {
  background: #111;
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(61.19%, #e5e5e5), to(rgba(255, 255, 255, 0))), #d6d6d6;
  background: linear-gradient(180deg, #e5e5e5 61.19%, rgba(255, 255, 255, 0) 100%), #d6d6d6;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  font-size: 1.3rem;
}

footer h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

footer p {
  font-size: 1rem;
  max-width: 50ch;
  font-weight: 300;
}

footer .company-summary h2 {
  margin-bottom: 1rem;
}

footer .subs {
  text-align: center;
  font-size: 1rem;
}

footer .subs form label {
  max-width: 30ch;
  font-size: 1.3rem;
  text-align: center;
}

footer .subs form .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.2rem;
}

footer .subs form .sub input {
  font-size: 1rem;
  margin: 1rem 0;
  outline: none;
  border: none;
  background: white;
  height: 2rem;
}

footer .subs form .sub .sub-btn {
  background-color: transparent;
  padding: 0;
  background: url(./assets/arrow.png);
  width: 3rem;
  height: 3rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer .subs form .sub .sub-btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

footer .company-info {
  text-align: right;
}

footer .company-info .info h2 {
  margin-bottom: 0.51rem;
}

footer .company-info .info p {
  max-width: 40ch;
}

footer .company-info .info + .info {
  margin: 2rem 0;
}

@media (max-width: 800px) {
  html {
    font-size: 80%;
  }
  #challan .img-container .icons-container {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 60%;
  }
  main #contact-form form .form-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #contact-form form .form-container > div {
    margin: 0 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
