* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Montserrat", sans-serif;
  color: black;
}

section {
  margin: 2rem 0;
}

button {
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  border-radius: 15px;
  color: #fff;
  background: #111;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-transition-property: color, background, -webkit-filter, -webkit-transform;
  transition-property: color, background, -webkit-filter, -webkit-transform;
  transition-property: filter, transform, color, background;
  transition-property: filter, transform, color, background, -webkit-filter, -webkit-transform;
}

button:hover, button:focus {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  cursor: pointer;
  background: #373737;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

header {
  margin: 0.1rem 0;
}

header .logo-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

header .logo-container .logo {
  width: 80px;
  height: 80px;
  background: url(./assets/logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main #hero {
  margin-top: 0;
  height: 70vh;
  width: 100vw;
  font-family: "Revalia", cursive;
}

main #hero .hero-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: url(./assets/hero.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

main #hero .hero-container .txt-container {
  width: 100vw;
  padding: 3rem;
}

main #hero .hero-container .txt-container h1 {
  font-size: 3rem;
  font-weight: normal;
  width: 90%;
  margin-bottom: 0.5rem;
}

main #hero .hero-container .txt-container p {
  margin-top: 0.4rem;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
}

@media (max-width: 769px) {
  main #hero {
    height: auto;
  }
  main #hero .hero-container {
    height: 90vh;
    background: url(./assets/hero-small.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 769px) and (max-width: 650px) {
  main #hero .hero-container {
    height: 77vh;
  }
}

@media (max-width: 769px) and (max-width: 500px) {
  main #hero .hero-container {
    height: 50vh;
  }
}

@media (max-width: 769px) and (max-width: 400px) {
  main #hero .hero-container {
    height: 45vh;
  }
}

@media (max-width: 769px) and (max-width: 300px) {
  main #hero .hero-container {
    height: 34vh;
  }
}

main #bikes {
  text-align: center;
  margin: 5rem 0;
  overflow: hidden;
}

main #bikes .txt-container .headings h1 {
  font-size: 3rem;
  font-weight: 600;
}

main #bikes .txt-container .headings p {
  margin: 0.1rem;
  font-size: 2rem;
}

main #bikes .txt-container .info {
  margin: 1.5rem 0;
}

main #bikes .txt-container .info p {
  margin: 0 auto;
  max-width: 80ch;
  font-size: 1.2rem;
}

main #bikes .txt-container .btn-container button {
  padding: 0.5rem 2rem;
  border-radius: 15px;
}

main #bikes .slider-container .bikes-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 850px;
}

main #bikes .slider-container .bikes-container .bike-container-1 {
  background-image: url(./assets/variants/1.webp);
}

main #bikes .slider-container .bikes-container .bike-container-2 {
  background-image: url(./assets/variants/7.webp);
}

main #bikes .slider-container .bikes-container .bike-container-3 {
  background-image: url(./assets/variants/9.webp);
}

main #bikes .slider-container .bikes-container .bike {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40rem;
  max-width: 20rem;
  opacity: 0;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  -webkit-transition: ease 1s;
  transition: ease 1s;
  -webkit-transition-property: all;
  transition-property: all;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

main #bikes .slider-container .bikes-container .bike .innerHTML {
  text-align: center;
}

main #bikes .slider-container .bikes-container .bike .innerHTML small {
  margin-left: 0.5em;
  font-weight: 400;
}

main #bikes .slider-container .bikes-container .big {
  max-width: none;
}

main #bikes .slider-container .bikes-container .active {
  opacity: 1;
}

main #bikes .slider-container .bikes-container .unactive {
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

main #organic {
  text-align: center;
  padding: 2rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(214, 214, 214, 0.44)), color-stop(75.78%, rgba(255, 255, 255, 0))), #ffffff;
  background: linear-gradient(180deg, rgba(214, 214, 214, 0.44) 0%, rgba(255, 255, 255, 0) 75.78%), #ffffff;
}

main #organic .txt-container .heading-container h1 {
  font-size: 3rem;
}

main #organic .txt-container .heading-container p {
  margin-top: 0.3rem;
  font-size: 2rem;
  font-weight: 500;
}

main #organic .txt-container .des-container p {
  max-width: 70ch;
  margin: 1rem auto;
  font-size: 1.3rem;
}

main #organic .txt-container .eco-container {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  max-width: 30vw;
  width: 100%;
  -ms-grid-columns: 1fr 10px 1fr;
      grid-template-columns: 1fr 10px 1fr;
  -ms-grid-rows: 12rem;
      grid-template-rows: 12rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20%;
}

main #organic .txt-container .eco-container .eco {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: start;
      align-self: start;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main #organic .txt-container .eco-container .eco .img1 {
  background: url(./assets/ev.png);
}

main #organic .txt-container .eco-container .eco .img2 {
  background: url(./assets/rupee.png);
}

main #organic .txt-container .eco-container .eco .img {
  width: 8rem;
  height: 8rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

main #organic .txt-container .eco-container .eco p {
  max-width: 20ch;
  font-size: 1.2rem;
}

main #organic .txt-container .eco-container .horizontal-line {
  width: 1px;
  height: 12rem;
  background: #000;
}

main #organic .img-container {
  margin-top: 2rem;
}

main #organic .img-container .grass-img {
  width: 100vw;
  height: 10rem;
  background: url(./assets/grass.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #features {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
}

main #features .feature {
  display: -ms-grid;
  display: grid;
  margin: 8rem auto;
      grid-template-areas: "img txt" "img txt";
  max-width: 80rem;
  gap: 5rem;
  font-size: 1.3rem;
}

main #features .feature .img-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img;
  max-width: 40rem;
  margin: 0 auto;
  -ms-flex-item-align: center;
      align-self: center;
}

main #features .feature .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  border-radius: 15px;
}

main #features .feature .txt-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: txt;
  border-left: 1px #000 solid;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  padding-left: 1rem;
}

main #features .feature .txt-container .heading h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

main #features .feature .txt-container .horizontal-line {
  width: 2rem;
  right: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
}

@media (max-width: 650px) {
  main #features .feature .txt-container .horizontal-line {
    display: none;
  }
}

main #features .feature .txt-container .points > div {
  margin-top: 1.7rem;
  font-size: 1.3rem;
}

main #features .feature2 {
      grid-template-areas: "txt img" "txt img";
}

main #features .feature2 .txt-container {
  border-left: none;
  border-right: 1px #000 solid;
  padding-right: 1rem;
  padding-left: 01rem;
}

main #features .feature2 .txt-container .horizontal-line {
  width: 2rem;
  left: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
}

@media (max-width: 680px) {
  main #features .feature {
        grid-template-areas: "img img" "txt txt";
  }
  main #features .feature .img-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: img;
  }
  main #features .feature .txt-container {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: txt;
  }
}

main #challan {
  width: 100vw;
  text-align: center;
  overflow-x: hidden;
}

main #challan .headings h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

main #challan .headings p {
  font-size: 2.3rem;
  font-weight: 400;
}

main #challan .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8rem;
}

main #challan .img-container .icons-container {
  margin: 3rem 0;
}

main #challan .img-container .icons-container .ico {
  width: 8rem;
  height: 8rem;
  position: relative;
  margin: 0 1rem;
}

main #challan .img-container .icons-container .ico > img {
  position: absolute;
  width: 70%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main #challan .img-container .icons-container .ico .skip {
  width: 100%;
}

main #challan .img-container .icons-container .ico .license-img {
  width: 50%;
}

main #challan .img-container .icons-container .icon-des {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 500px) {
  main #challan .img-container {
    gap: 4rem;
  }
}

main #contact-form {
  text-align: center;
  margin: 5rem 1rem;
}

main #contact-form form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14rem;
  max-width: 700px;
  margin: 2rem auto;
}

main #contact-form form .form-container .left-form .fields,
main #contact-form form .form-container .right-form .fields {
  margin: 1rem 0;
  text-align: left;
}

main #contact-form form .form-container .left-form .fields > *,
main #contact-form form .form-container .right-form .fields > * {
  display: block;
  margin-bottom: 1rem;
}

main #contact-form form .form-container .left-form .fields label,
main #contact-form form .form-container .right-form .fields label {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

main #contact-form form .form-container .left-form .fields input,
main #contact-form form .form-container .right-form .fields input {
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  min-width: 20rem;
}

@media (max-width: 650px) {
  main #contact-form form .form-container {
    gap: 7rem;
  }
}

@media (max-width: 550px) {
  main #contact-form form .form-container {
    gap: 0rem;
  }
}

main #contact-form form button {
  margin-top: 1rem;
  max-width: 30rem;
  height: 3rem;
  width: 100%;
  background: #555;
  font-size: 1.3rem;
}

main #contact-form form button:hover, main #contact-form form button:focus {
  background: #111;
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(61.19%, #e5e5e5), to(rgba(255, 255, 255, 0))), #d6d6d6;
  background: linear-gradient(180deg, #e5e5e5 61.19%, rgba(255, 255, 255, 0) 100%), #d6d6d6;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  font-size: 1.3rem;
}

footer h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

footer p {
  font-size: 1rem;
  max-width: 50ch;
  font-weight: 300;
}

footer .company-summary h2 {
  margin-bottom: 1rem;
}

footer .subs {
  text-align: center;
  font-size: 1rem;
}

footer .subs form label {
  max-width: 30ch;
  font-size: 1.3rem;
  text-align: center;
}

footer .subs form .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.2rem;
}

footer .subs form .sub input {
  font-size: 1rem;
  margin: 1rem 0;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  height: 2rem;
}

footer .subs form .sub .sub-btn {
  background-color: transparent;
  padding: 0;
  background: url(./assets/arrow.png);
  width: 3rem;
  height: 3rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer .subs form .sub .sub-btn:hover, footer .subs form .sub .sub-btn:focus {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #ffffff45;
}

footer .company-info {
  text-align: right;
}

footer .company-info .info h2 {
  margin-bottom: 0.51rem;
}

footer .company-info .info p {
  max-width: 40ch;
}

footer .company-info .info + .info {
  margin: 2rem 0;
}

@media (max-width: 900px) {
  main #bikes .slider-container {
    margin: 4rem 0;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 80%;
  }
  header .logo-container .logo {
    width: 60px;
    height: 60px;
  }
  main #hero .hero-container .txt-container {
    line-height: 1.3;
  }
  main #hero .hero-container .txt-container h1,
  main #hero .hero-container .txt-container p {
    margin-bottom: 0;
    margin-top: 0;
  }
  #challan .img-container .icons-container {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 60%;
  }
  main #bikes .txt-container .info p {
    width: 80%;
  }
  main #contact-form form .form-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #contact-form form .form-container > div {
    margin: 0 2rem;
  }
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4rem;
    font-size: 1.3rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
  footer h2,
  footer label {
    font-size: 1.9rem;
  }
  footer p {
    font-size: 1.5rem;
  }
  footer .company-summary p {
    margin: 0 auto;
  }
  footer .subs form {
    max-width: 50ch;
  }
  footer .subs form label {
    display: inline-block;
    font-size: 1.9rem;
    font-weight: 500;
  }
  footer .company-info {
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
